body {
  font-family: Arial, sans-serif;
  padding: 20px;
 

}
h2{
  text-align:center;
}
form {
  background: #e6e6fa; 
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  max-width: 500px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, textarea, button {
  width: 100%; 
  padding: 10px; 
  margin-top: 10px; 
  box-sizing: border-box; 
}

textarea {
  height: 100px; 
}

button {
  width: auto; 
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 80%; 
  margin: 20px auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #0056b3;
}